/JenteenMatthias/UurroosterServer/build/
/JenteenMatthias/UurroosterServer/dist/
/JenteenMatthias/UurroosterServer/nbproject/private/

/JenteenMatthias/UurroosterServer-Client/build/
/JenteenMatthias/UurroosterServer-Client/dist/
/JenteenMatthias/UurroosterServer-Client/nbproject/private/

/JenteenMatthias/UurroosterServer/UurroosterServer-ejb/build/
/JenteenMatthias/UurroosterServer/UurroosterServer-ejb/dist/
/JenteenMatthias/UurroosterServer/UurroosterServer-ejb/nbproject/private/

/JenteenMatthias/UurroosterServer/UurroosterServer-war/build/
/JenteenMatthias/UurroosterServer/UurroosterServer-war/dist/
/JenteenMatthias/UurroosterServer/UurroosterServer-war/nbproject/private/

