/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 6:54:34 PM
    Author     : Matthias Wens
*/

body{
    background-color: #8cb8ff;
}

.header{
    background-color: #0061ff;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.toevoegen, .verwijderen {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.toevoegen:hover, .verwijderen:hover {
    background-color: #ddd;
    color: black;
}

.toevoegen {
    background-color: green;
    color: black;
}

.verwijderen {
    background-color: red;
    color: white;
}

.edit {
    background-color: blue;
    color: white;
    padding: 10px;
}

#toevoegtable{
    background-color: green;
    width: 175px;
}

#verwijdertable{
    background-color: red;
    width: 175px;
}

.toevoegdiv{
    position: absolute;
    top: 10%;
}
.verwijderdiv{
    position: absolute;
    left: 50%;
    top: 10%;
}

.knopjes{
    position: absolute;
    top: 90%;
}