/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 6:54:34 PM
    Author     : Matthias Wens
*/

html{
    height: 100%;
}

body{
    background-image: url('img.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header{
    background-color: #2196F3;
}

#myInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-size: 20px 20px;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.toevoegdiv{
    position: absolute;
    top: 10%;
}
.verwijderdiv{
    position: absolute;
    left: 50%;
    top: 10%;
}

.knopjes{
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.knopjes button {
    width: 200px;
}

#klasgroep{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 300px;
}

#overigeStudenten{
    position: absolute;
    top: 10%;
    width: 350px;
}

h2 {
    width: 350px;
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
}

#relatieErrors{
    position: absolute;
    top: 10%;
    left:60%;
    width: 300px;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.afgewerkt {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 20px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
    background-color: #2196F3;
}

.progress {
    width: 300px;
    position: relative;
    top: 100px;
}

table {
    border-collapse: collapse; /* Collapse borders */
    width: 350px; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 14px; /* Increase font-size */
}

table th, table td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
}

.success {
    padding: 10px;
    background-color: #42f436;
    color: white;
}

.warning {
    padding: 10px;
    background-color: #f4bb36;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.buttonlijktgeenbutton {
    background-color: transparent;
    border: 0;
}